<div>
  <h2>The Main Page</h2>
  <p>Intro text</p>

  {{#if error }}
  <p class="flash err">Sorry, couldn't find that record. The error was: {{ error }}. Please check and try entering it again.</p>
  {{/if}}

  {{#if signup.error }}
  <p class="flash err">Something went wrong in registering your details. The error code was: {{ signup.error }}</p>
  {{/if}}

  {{#if signup.code }}
  <p class="flash success">Signup successful. Your code is <strong>{{ signup.code }}</strong>. Use this to make your predictions at <a href="/player/{{ signup.code }}">http://example.com/player/{{ signup.code }}</a>. You will also recieve a copy of the code by email.</p>
  {{/if}}

  {{#if expired}}
  <p>The deadline for predictions has now expired. See the <a href="/results">results</a> page to see how you did.</p>
  {{else}}
  <div>
    <p>Sign up to make your own predictions. Enter your chosen username and email*, both must be unique.</p>
  </div>
  <form id="signup" method="post" action="/signup">
    <div class="signup-container">
      <input placeholder="rubeus" id="username" name="username" type="textbox" autofocus="true" maxlength="50">
      <span id="username-not-valid" class="intrainput"></span>
    </div>
    <div class="signup-container">
      <input placeholder="rhagrid@hogwarts.ac.uk" id="email" name="email" type="email">
      <span id="email-not-valid" class="intrainput"></span>
    </div>
    <input id="signup-submit" type="submit" value="Submit" />
  </form>
  <div>
    <p>* You'll get precisely two emails: one with your your unique code, and one with your final results.</p>
  </div>
  {{/if}}  
</div>

<script>
$(document).ready(function() {

  $('#signup-submit').attr('disabled', 'disabled');
  $('#signup #username').on('keyup', function() {
    
    var uname = $(this).val();
    if (uname.length > 2) {
      $('#signup-submit').removeAttr('disabled');
      $.ajax({
        type: 'POST',
        url: '/player/check',
        data: { type: 1, value: uname},
        beforeSend: function() {
          $('#username-not-valid').show().html('<img src="/img/ajax-loader.gif" alt="..." />');
        }
      }).done(function(res) {
        if (res === true) { // name is ok
          $('#signup-submit').removeAttr('disabled');
          $('#username-not-valid').removeClass('err').show().html('&#10003;');
        } else {
          $('#signup-submit').attr('disabled', 'disabled');
          $('#username-not-valid').addClass('err').show().text('taken');
        }
      });
    } else {
      $('#username-not-valid').hide();
      $('#signup-submit').attr('disabled', 'disabled');
    }
      
  })

  $('#signup #email').on('blur', function() {
    var email = $('#email').val(),
        env = $('#email-not-valid'),
        re = /\S+@\S+\.\S+/;

    if (email.match(re)) {
      $.ajax({
        type: 'POST',
        url: '/player/check',
        data: { type: 2, value: email }
      }).done(function(res) {
        if (res === true) {
          $('#signup-submit').removeAttr('disabled');
          $('#email-not-valid').removeClass('err').show().html('&#10003;');
        } else {
          $('#signup-submit').attr('disabled', 'disabled');
          $('#email-not-valid').addClass('err').show().text('taken');
        }          
      });
    } else {
      env.show().removeClass('success').addClass('err').html('!');
      $('#signup-submit').attr('disabled', 'disabled');        
    }
  })

})
</script>