<div>
  <h3>Predictions</h3>
  <div id="head" data-uid="{{ user.id }}">{{ user.name }}</div>
  
  {{#each data }}
  <section>
    <h4>{{ this.category }} ({{ this.weight }} points)</h4>
    <div data-cat="{{ this.id }}" id="pane">
      {{#each this.noms }}
        <div class="small-nom {{#if this.pred }}picked{{/if}}" data-nom="{{ this.id }}">
          <img src="/img/{{ this.image }}.jpg" title="{{ this.name }} {{#if this.film }} ({{ this.film }}){{/if}}" alt="{{ this.name }}">
        </div>
      {{/each}}
    </div>
  </section>
  {{/each}}

</div>
<script>
$(document).ready(function() {

  $('.small-nom').on('click', function() {
    $(this).removeClass('imgfade').addClass('picked').siblings().removeClass('picked').addClass('imgfade');
    var nom = $(this);

    $.ajax({
      type: 'POST',
      url: '/prediction',
      data: {
        cat: $(this).parent().data('cat'),
        user: $('#head').data('uid'),
        nom: $(this).data('nom')
      },
      beforeSend: function() {

      }
    }).done(function(e) {
      console.log(e);
    }).fail(function(e) {
      console.log(e);
    })
  })

})
</script>

