<div class="small-12 columns">
  <h3>Leaderboard</h3>
  {{#unless expired }}
    <p>The leaderboard will appear here once the deadline for making predictions has been reached.</p>
  {{ else }}
    {{#if table.error }}
    <p>Error in retrieving results :-(</p>
    {{else}}
    <table id="results">
      <thead>
        <tr>
          <th>Position</th>
          <th>Player</th>
          <th colspan="2">Score</th>
        </tr>
      </thead>
      <tbody>
        {{#each table.data }}
        <tr>
          <td class="{{#if @first }}winner{{/if }}">{{ rank }}</td>
          <td class="{{#if @first }}winner{{/if }}">{{ player }}</td>
          <td width="500px">
            <div class="bar" data-len="{{ score }}"></div>
          </td>
          <td>{{ score }}</td>
        </tr>
        {{/each}}
      </tbody>
    </table>
    <label>Want to see predictions for individual categories?
      <select name="" id="category_list">
        <option value="0"></option>
        <option value="1">Film</option>
        <option value="2">Actor</option>
        <option value="3">Actress</option>
        <option value="4">Supporting Actor</option>
        <option value="5">Supporting Actress</option>
        <option value="9">Director</option>
        <option value="7">Cinematography</option>
        <option value="8">Costume Design</option>
        <option value="6">Animated Film</option>
        <option value="10">Documentary Feature</option>
        <option value="11">Documentary Short</option>
        <option value="12">Film Editing</option>
        <option value="13">Foreign Language</option>
        <option value="14">Makeup</option>
        <option value="15">Original Score</option>
        <option value="16">Original Song</option>
        <option value="17">Production Design</option>
        <option value="18">Animated Short</option>
        <option value="19">Live Action Short</option>
        <option value="20">Sound Editing</option>
        <option value="21">Sound Mixing</option>
        <option value="22">Visual Effects</option>
        <option value="23">Adapted Screenplay</option>
        <option value="24">Original Screenplay</option>
      </select>
    </label>

    {{/if }}
  {{/unless }}
</div>
