<div>
  <h3>Leaderboard</h3>
  {{#if table.error }}
  <p>Error in retrieving results :-(</p>
  {{else}}
  <table id="results">
    <thead>
      <tr>
        <th>Position</th>
        <th>Player</th>
        <th>Score</th>
      </tr>
    </thead>
    <tbody>
      {{#each table.data }}
      <tr>
        <td>{{ rank }}</td>
        <td>{{ player }}</td>
        <td width="500px">
          <div class="bar" data-len="{{ score }}">{{ score }}</div>
        </td>
      </tr>
      {{/each}}
    </tbody>
  </table>
  {{/if}}
  
</div>
